button.contact {
  //animation: shiftTop 2s ease-in-out infinite;
  border-radius: 4px;
  color: white;
  background: $pink;
  border: none;
  padding: 7px 10px;
  text-transform: uppercase;
  font-family: 'Overpass';
}

.submit-button {
  background: #f05f5b;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  font-family: 'Overpass';
  z-index: 1000;
}