.button {
  background: $pink;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 7px 10px;
  text-transform: uppercase;
  font-family: 'Overpass';
  font-size: 12px;

  &.submit-button {
    margin-top: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    z-index: 1000;
  }

  &.next-button {
    position: absolute;
    right: 28px;
    bottom: 20px;
    z-index: 4;
  }

  &.back-button {
    z-index: 4;
    position: absolute;
    left: 28px;
    bottom: 20px;
  }

  &.roulette {
    float: right;
  }
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  opacity: 1;
  display: inline-block;
}

#roulette-button {
  margin-bottom: 20px;
}