.button {
  background: $pink;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 7px 10px;
  text-transform: uppercase;
  font-family: 'Overpass';
  font-size: 12px;

  &.submit-button {
    margin-top: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    z-index: 1000;
  }

  &.next-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 4;
  }

  &.roulette {
    float: right;
  }
}