.content {
  padding: 20px 20px 0 20px;
  overflow-y: scroll;
}

.text-container {
  display: inline-block;
  padding: 20px;
  text-align: left;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Overpass', sans-serif;

  .header {
    text-transform: uppercase;
    margin-bottom: -15px;
  }
}

.image-container {
  background-size: cover;
  display: block;
  text-align: center;
  position: relative;
  height: 400px;
  border: 1px solid darkblue;

  .button-container {
    padding-top: 150px;
  }
}

.selection-container {
  position: absolute;
}

.title-container {
  position: absolute;
  top: -17px;
  right: 7px;
  background: #fff8fb;
  padding: 5px;
  border-radius: 4px;
  z-index: 1;
  border: 1px solid darkblue;

  p {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.squiggle-container {
  width: 100px;
}

.form-container {
  position: absolute;
  width: 94%;
  top: 130px;
  text-align: center;
}

.submit-button-container {
  display: block;
  text-align: right;
}

#gallery-container {
  padding: 0 50px 50px 50px;

  .row {
    margin-top: 30px;

    &:nth-child(1) {
      margin-top: 10px;
    }
  }
}

.object-container {
  padding: 100px 30px;
  text-align: center;
  background-size: cover;
  font-family: 'Overpass';
  background-repeat: no-repeat;
  border: 1px solid darkblue;
  position: relative;

  .object-title {
    font-size: 14px;
    text-transform: uppercase;
  }

  .squiggle-container {
    margin: -12px auto;
  }

  .text-container {
    background-color: transparent;
    text-align: center;
    color: white;
    padding: 0 50px;
    width: 100%;
  }
}