form {
  margin-bottom: 0;
  position: relative;

  p {
    text-transform: uppercase;
    color: white;
    text-align: left;
    position: absolute;
    left: 39%;
    top: -26px;
  }
}
label {
  textarea {
    font-weight: 100;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    right: 39%;
    height: 135px;
    border-radius: 4px;
    display: block;
    border: none;
    background-color: #f7f8ff;
  }
}