form {
  margin-bottom: 0;
  position: relative;
  display: inline-block;

  p {
    text-transform: uppercase;
    color: white;
    text-align: left;
    position: absolute;
    right: 0%;
    top: -26px;
    width: 100%;
  }

  ::placeholder{
    color: #bcbcbc;
    font-size: 10px;
  }
}

.form-group {
  width: 150px;
}

textarea.form-control, .form-group > input.form-control {
  font-weight: 100;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  display: block;
  border: none;
  background-color: #f7f8ff;
  font-family: 'Overpass';
  width: 150px;
}