.contact .section {
  background-size: cover;
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

img.display {
  width: 100%;
}

.rotate {
  width: 30px;
  height: 30px;
  border: 1px solid #f1c3c2;
  position: absolute;
  top: 30%;
  right: 10%;
}

.jumbo-container {
  .circle:nth-child(2) {
    left: 20%;
  }
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px solid #f1c3c2;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right: 10%;
}

.shapes {
  .rotate:nth-child(2) {
    height: 60px;
    width: 60px;
    left: 19%;
    top: 60%;
  }

  .circle {
    width: 20px;
    height: 20px;
    border: 1px solid #f1c3c2;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    animation: MoveUpDown 6s cubic-bezier(0.4, 0, 1, 1) infinite;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f1c3c2;
  position: absolute;
  left: 35%;
}

@keyframes MoveUpDown {
  0% {
    bottom: -10px;
  }
  50% {
    bottom: -20px;
  }
  100% {
    bottom: -10px;
  }
}

#ta-detail-page {
  .small-circle {
    width: 8px;
    height: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    margin: 3px;

    &.red {
      background-color: #ff6d6f;
    }
    &.yellow {
      background-color: #fff18a;
    }
    &.green {
      background-color: #90e585;
    }
  }

  .browser-shadow {
    position: absolute;
    left: -10px;
    top: 10px;
    height: 100%;
    width: 100%;
    border: 1px solid $pink;
    //background-size: 4px 4px;
    //background-image: linear-gradient(-45deg, #f1c3c2 25%, transparent 25%, transparent 50%, #f1c3c2 50%, #f1c3c2 38%, transparent 48%, transparent);
  }
}

.line {
  border-top: 1px solid darkblue;
  position: absolute;
  top: 0;
  width: 50%;
  left: 25%;
}

.small-line {
  width: 30px;
  height: 1px;
  background-color: $pink;
  margin-bottom: 10px;
}

.vert-line {
  width: 1px;
  height: 100px;
  position: absolute;
  background: #f05f68;
  left: -30px;
  top: -6px;
}

img.circle-text.rotate {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  height: 100px;
  width: 100px;
}

.jumbo-image-container > img {
  position: absolute;
  height: 275px;
  left: 90px;
  animation: Move 5s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
}