@media only screen and (max-width: 320px) {
  .nav-list {
    font-size: 11px;
  }

  #about-container {
    .text-container {
      padding: 30px;
      width: 225px;
    }
  }
}

@media only screen and (max-width: 480px) and (min-width: 321px) {
    #about-container {
    .text-container {
      padding: 30px;
      width: 300px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .nav-list {
    padding: 30px 20px;

    li {
      padding: 0 10px;
    }
  }

  .title-container {
    font-size: 14px;
  }

  #contact-container {
    .image-container {
      background-position: -100;
    }

    .section {
      background-position: -102px -1px;
    }

    .form-container {
      top: 94px;
    }
  }
}
