.nav-list{
  padding:   30px 50px 8px 50px;
  margin-bottom: 0;

  li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    padding: 0 20px;
    font-family: 'Overpass', sans-serif;

    &:active, :hover, :visited, :focus {
      text-decoration: none;
    }

    a {
      color: $pink;

      &:active, :hover, :visited, :focus {
        text-decoration: none;
      }
    }
  }
}

.nav-link.roulette {
  position: absolute;
  right: 0;
  top: 23px;
}