@import 'modules/variables.scss';
@import 'modules/functions.scss';
@import 'modules/mixins.scss';

@import 'components/tabs.scss';
@import 'components/containers.scss';
@import 'components/forms.scss';
@import 'components/buttons.scss';
@import 'components/images.scss';
@import 'components/text.scss';

.background-gradient {
  height: 100%;
  overflow: hidden;
}

p {
  font-family: 'Overpass', italic;
}