@import 'modules/functions';
@import 'modules/mixins';
@import 'components/tabs';
@import 'components/containers';
@import 'components/forms';

.background-gradient {

  height: 100%;
  overflow: hidden;
}

.st4 {
  @keyframes shift {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(-40%);
    }
  }
}

.squiggle-container {
  width: 100px;
}