@keyframes shift {
  from {
    transform: translateX(-10%); }
  to {
    transform: translateX(-40%); } }

@keyframes vertshift {
  from {
    transform: translateY(-10%); }
  to {
    transform: translateY(-40%); } }

@keyframes shiftTop {
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); } }

.nav-tabs {
  padding: 30px 0;
  border: none; }
  .nav-tabs ul {
    padding-left: 0; }
  .nav-tabs li {
    padding: 0; }
    .nav-tabs li a {
      border: none; }
  .nav-tabs > li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    border: none; }
  .nav-tabs > li a:hover, .nav-tabs > li a:active, .nav-tabs > li a:focus {
    background: none;
    border: none; }

li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  padding: 0 10px;
  font-family: 'Overpass', sans-serif; }
  li a {
    color: #f05f5b; }

.content {
  padding: 20px 20px 0 20px;
  overflow-y: scroll; }

.text-container {
  display: inline-block;
  padding: 20px;
  text-align: left;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Overpass', sans-serif; }
  .text-container .header {
    text-transform: uppercase;
    margin-bottom: -15px; }

.image-container {
  background-size: cover;
  display: block;
  text-align: center;
  position: relative;
  height: 400px;
  border: 1px solid darkblue; }
  .image-container .button-container {
    padding-top: 150px; }

.selection-container {
  position: absolute; }

.title-container {
  position: absolute;
  top: -17px;
  right: 7px;
  background: #fff8fb;
  padding: 5px;
  border-radius: 4px;
  z-index: 1;
  border: 1px solid darkblue; }
  .title-container p {
    font-size: 10px;
    margin-bottom: 0; }

.squiggle-container {
  width: 100px; }

.vertsquiggle-container {
  padding-top: 22px;
  height: 300px; }

.form-container {
  position: absolute;
  width: 94%;
  top: 130px;
  text-align: center; }

.submit-button-container {
  display: block;
  text-align: right; }

#gallery-container {
  padding: 50px; }

.object-container {
  padding: 100px 30px;
  text-align: center;
  background-size: cover;
  font-family: 'Overpass';
  background-repeat: no-repeat;
  border: 1px solid darkblue;
  position: relative; }
  .object-container .object-title {
    font-size: 14px;
    text-transform: uppercase; }
  .object-container .squiggle-container {
    margin: -12px auto; }
  .object-container .text-container {
    background-color: transparent;
    text-align: center;
    color: white;
    padding: 0 50px;
    width: 100%; }

form {
  margin-bottom: 0;
  position: relative;
  display: inline-block; }
  form p {
    text-transform: uppercase;
    color: white;
    text-align: left;
    position: absolute;
    right: 0%;
    top: -26px;
    width: 100%; }
  form ::placeholder {
    color: #bcbcbc;
    font-size: 10px; }

.form-group {
  width: 150px; }

textarea.form-control, .form-group > input.form-control {
  font-weight: 100;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  display: block;
  border: none;
  background-color: #f7f8ff;
  font-family: 'Overpass';
  width: 150px; }

.success-message, .error-message {
  display: none;
  background: #fff8fb;
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  font-size: 10px;
  font-family: 'Overpass';
  border: 1px solid darkblue; }

button.contact {
  border-radius: 4px;
  color: white;
  background: #f05f5b;
  border: none;
  padding: 7px 10px;
  text-transform: uppercase;
  font-family: 'Overpass'; }

.submit-button {
  background: #f05f5b;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  font-family: 'Overpass';
  z-index: 1000; }

.contact .section {
  background-size: cover;
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 998; }

.background-gradient {
  height: 100%;
  overflow: hidden; }

p {
  font-family: 'Overpass', italic; }
